%h1 Login

= form_tag sessions_path, class: "form-inline" do

  .form-group
    = label_tag :email,nil,  class: "control-label"
    = email_field_tag :email, nil, class: "form-control"

  = submit_tag "Login", class: 'btn btn-default'
